Inheritance 
- Simple inheritace 1 base class 1 derived class

In [1]:
class Base:
    def __init__(self, name):
        self._name = name
        print('Inside Base Class')
        
    def printbase(self):
        print(self._name)
    
class Derived(Base):
    def __init__(self, roll, name):
        self.roll = roll
        print('Inside derived class')
        super().__init__(name)
        
    def printderived(self):
        print(self.roll, self._name)

In [4]:
d1 = Derived(41, 'Saad')
d1.printderived(), d1.printbase()

Inside derived class
Inside Base Class
41 Saad
Saad

(None, None)

Multi level inheritance
- class Derived1(Base), class Derived2(Derived1)

Multiple inheritance
- class Derived(Base1, Base2)
- Order of Base1 and Base2 matters
- super should not be used as it wont call both Base classes
- Base1.__ init __ (self,...)
- Base2.__ init __ (self,...)
- use like this

In [27]:
class Base1:
    def __init__(self, cname, dept):
        self.collage = cname
        self.dept = dept
    
    def printbase1(self):
        print(self.collage, self.dept)
        
class Base2:
    def __init__(self, state, city):
        self.state = state
        self.city = city
    
    def printbase2(self):
        print(self.state, self.city)

class Derived(Base1, Base2):
    def __init__(self, name, roll, c, d, st, city):
        Base1.__init__(self, c, d)
        Base2.__init__(self, st, city)
        self.name = name
        self.roll = roll
    def printderived(self):
        print(self.collage, self.dept, self.city, self.name, self.roll)

In [28]:
d1 = Derived('Saad', 41, 'IITM', 'NAOE', 'MH', 'Pune')

In [29]:
d1.printderived()

IITM NAOE Pune Saad 41

In [31]:
d1.printbase1(), d1.printbase2()

IITM NAOE
MH Pune

(None, None)

In [ ]:
b2 = Base2('TN', 'Chennai')