# HomeWork
1. In a tuple find the number of objects of each type
2. How to compair the sting and the integer
3. Why we need tuple?
4. Find out the Fuunctions not in tuple but in list
5. One liner for printing the tuple
6. Grouping tuple

In [1]:
2>'2'

TypeError: '>' not supported between instances of 'int' and 'str'

# Missilineous
- '*' is derefrencing oprator its unpacking oprator

Tuples
- remove, insert are not member function for tuple

In [1]:
tup = 1,2,3
tup

(1, 2, 3)

In [3]:
tup1 = (1,) # without using ',' will assign single element to int only not a tuple
tup1

(1,)

In [5]:
stud_details = (('stud1', 55, 6.7),
               ('stud2', 88, 9.8))
for n, m, c in stud_details:
    print(n, m ,c)

stud1 55 6.7
stud2 88 9.8

In [12]:
print(*stud_details[0])

stud1 55 6.7

In [6]:
d = {}
t = (1, 'str', {'dic' : 0}, 2, 'po', True, ['saad'])
for item in t:
    if type(item) in d:
        d[(type(item))] += d.get(type(item))
    else:
        d[(type(item))] = 1

In [7]:
d

{int: 2, str: 2, dict: 1, bool: 1, list: 1}

In [18]:
t1 = (1,23,4)
t2 = (2, 4)
t1 += t2
t1,

(1, 23, 4, 2, 4)

In [21]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [22]:
sorted(t1)

[1, 2, 4, 4, 23]

In [23]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [27]:
#tuple comprihension
t = tuple(x for x in range(5))

In [28]:
t

(0, 1, 2, 3, 4)

In [30]:
tup_tup = (('Ram', 25, 45.5),
          ('Raman', 28, 32.45))
for item in tup_tup:
    print(*item)

Ram 25 45.5
Raman 28 32.45

In [35]:
print(*tup_tup)

('Ram', 25, 45.5) ('Raman', 28, 32.45)

In [36]:
tup_tup

(('Ram', 25, 45.5), ('Raman', 28, 32.45))

In [39]:
names = ('Ram', 'Raja', 'Geetha', 'Mina')
gender = ('M', 'M', 'F', 'F')
l = []
for i in range(4):
    (l.append((names[i], gender[i])))
tuple(l)

(('Ram', 'M'), ('Raja', 'M'), ('Geetha', 'F'), ('Mina', 'F'))