# LAB 2

1. Write a program to print numbers divisible by both 6 and 7. Numbers between 1
and 500.
[Numbers like 42, which are both divisible by 6 and 7]
- a. Using continue statement
- b. Using the pass statement

In [1]:
for num in range(1,500):
    if num%6 == 0 and num%7 == 0:
        print(num)
    else:
        continue

42
84
126
168
210
252
294
336
378
420
462

In [2]:
for num in range(1,500):
    if num%6 == 0 and num%7 == 0:
        print(num)
    else:
        pass

42
84
126
168
210
252
294
336
378
420
462

2. Number 1111122221111222 has been given. Print the addition of all even digits
and the addition of all odd digits.
[Sample input = 156893, Sample Output: sum_even = 14
sum_odd = 18]

In [32]:
sum_even, sum_odd = 0, 0
num = '1111122221111222'
for n in num:
    n = int(n)
    if n%2 == 0:
        sum_even += n
    else:
        sum_odd += n
print('sum_even = ', sum_even)
print('sum_odd = ', sum_odd)

sum_even =  14
sum_odd =  9

3. Describe conditional expression. Write a program to print the maximum and
minimum numbers from a list using conditional expression. Use the max () and
min () functions to verify your output

In [2]:
lst = [4, 6, 1, -2, 3 ,10]
max_int = lst[0]
min_int = lst[0]
for num in lst:
    max_int = num if num > max_int else max_int
print('maximum number is', max_int, max(lst) == max_int)

for num in lst:
    min_int = num if num < min_int else min_int
print('minimum number is', min_int, min(lst) == min(lst))

maximum number is 10 True
minimum number is -2 True

4. Triangle Number Pattern: Print the following pattern for the given N number of
rows.

In [33]:
N = int(input('Enter the number of rows: '))
for i in range(1, N+1):
    print(str(i)*i)

Enter the number of rows: 4
1
22
333
4444

5. A palindrome sentence is a phrase or sentence that reads the same forwards as
it does backwards, ignoring spaces, punctuation, and capitalization.

A) Take a number as input, determine if it is a palindrome, considering only
alphanumeric characters. Eg: 1331

B) Now, take a string as an input and check whether if it is Palindrome or not.
eg: 'A man, a plan, a canal, Panama'

In [2]:
# A
n = (input('Enter an integer: '))
op = True
for i in range(len(n)//2):
    if(n[i] != n[-i-1]):
        op = 'Not a Palindrome'
        break

print(op)

Enter an integer: 6767
Not a Palindrome

In [4]:
#B
s = input('Enter a string: ')
l = []
s = s.lower()
op = True
for i in range(len(s)):
    if s[i].isalnum() :
        l.append(s[i])

for i in range(len(l)):
    if (l[i] != l[-i-1]):
        op = 'Not a palindrome'
        break
print(op)

Enter a string: saad
Not a palindrome

6. Describe chr () and ord () functions. Write a small program to show its
functionality.Using these functions,write a program to print: 

Pattern for N=4

A

B B

C C C

D D D D

- chr() it is a pyhton built-in funtion to get the charater from its ascci code 
    - ex chr(97) = 'a'

- ord() its also a python built-in funtion it returns the ascci code of a given character
    - ex ord('a') = 97

In [47]:
ord('A')

65

In [5]:
N = int(input('Enter the number of rows: '))
for i in range(1, N+1):
    print(chr(i+64)*i)

Enter the number of rows: 3
A
BB
CCC

7. Write a program to perform the following tasks: 


(a) Create a list of airline tickets, each containing the name of the passenger, ticket number, departure date, and flight distance. 

(b) Insert a new ticket into the list while maintaining alphabetical order of passenger names. 

(c) Search for a specific passenger by name and remove their ticket information from the list. 

(d) Add a new ticket to the beginning of the list with inputted passenger information. 

(e) Detect and eliminate duplicate tickets, keeping only one instance of each. 

(f) Sort the entire list of tickets in alphabetical order by passenger name.

In [6]:
# A and B

airline = []

airline.append(['Saad', '121002', '3rd Feb 2023', '1200 km'])
airline.append(['Andrew', '140700', '2nd Mar 2023', '300 km'])
airline.sort()

airline.append(['Messi', '130898', '13th Feb 2023', '700 km'])
airline.sort()

airline.append(['Joel', '121002', '3rd Feb 2023', '2222 km'])
airline.sort()

airline

[['Andrew', '140700', '2nd Mar 2023', '300 km'],
 ['Joel', '121002', '3rd Feb 2023', '2222 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km']]

In [7]:
# C

for ticketInfo in airline:
    for name in ticketInfo:
        if(name == 'Joel'):
            airline.remove(ticketInfo)
airline

[['Andrew', '140700', '2nd Mar 2023', '300 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km']]

In [8]:
# D 

name_of_passenger = input('Enter the name of Passenger: ')
ticket_number = input('Enter your ticket number: ')
departure_date = input('Enter your departure date: ')
flight_distance = input('How far you have to go?')

Enter the name of Passenger: jack
Enter your ticket number: 13913
Enter your departure date: 5th feb 2022
How far you have to go?6006

In [9]:
newTicket = [name_of_passenger , ticket_number, departure_date, flight_distance]

airline = [newTicket] + airline
airline

[['jack', '13913', '5th feb 2022', '6006'],
 ['Andrew', '140700', '2nd Mar 2023', '300 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km']]

In [10]:
# E
# Creating duplicate tickets 
airline.append(['Saad', '121002', '3rd Feb 2023', '1200 km'])
airline.append(['Messi', '130898', '13th Feb 2023', '700 km'])
airline

[['jack', '13913', '5th feb 2022', '6006'],
 ['Andrew', '140700', '2nd Mar 2023', '300 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km']]

In [11]:
# deleting duplicate element
for ticketInfo in airline:
    if airline.count(ticketInfo) > 1 :
        airline.remove(ticketInfo)
    else:
        continue
airline

[['jack', '13913', '5th feb 2022', '6006'],
 ['Andrew', '140700', '2nd Mar 2023', '300 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km']]

In [12]:
# F
airline.sort()
airline

[['Andrew', '140700', '2nd Mar 2023', '300 km'],
 ['Messi', '130898', '13th Feb 2023', '700 km'],
 ['Saad', '121002', '3rd Feb 2023', '1200 km'],
 ['jack', '13913', '5th feb 2022', '6006']]

8. Write a program using list comprehension

a) To add the corresponding elements of two lists and print the new list

b) To perform element wise multiplication of two lists and print the new list.

c) To create a list of the unique characters of a given string. Eg: input = ‘even’ output = [‘e’, ‘v’, ‘n’]

In [73]:
# A

l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]

add_lst = [l1[i] + l2[i] for i in range(4)]

add_lst

[6, 8, 10, 12]

In [74]:
# B
mul_lst = [l1[i] * l2[i] for i in range(4)]
mul_lst

[5, 12, 21, 32]

In [13]:
# C
s = input('Enter a sting: ')

unique_lst = [c for c in set(s)]
unique_lst

Enter a sting: even

['n', 'v', 'e']

9. Using the concept of list of lists, WAP

a) To add the elements of 2 matrices (Define matrices as per your wish).

b) To perform element wise multiplication on 2 matrices.

In [18]:
A_mat = [[1, 2, 3], 
         [4, 5, 6]]
B_mat = [[-1, -2, -3], 
         [-4, -5, -6]]

In [19]:
# A
add_mat = []
for i in range(2):
    temp = []
    for j in range(3):
        temp.append(A_mat[i][j] + B_mat[i][j])
    add_mat.append(temp)
add_mat

[[0, 0, 0], [0, 0, 0]]

In [20]:
mul_mat = []
for i in range(2):
    temp = []
    for j in range(3):
        temp.append(A_mat[i][j] * B_mat[i][j])
    mul_mat.append(temp)
mul_mat

[[-1, -4, -9], [-16, -25, -36]]

10. Explore print statement using formatted strings and write a program to demonstrate them.

In [21]:
num = 9
print('The square of {n} is {ns}'.format(n = num, ns = num**2))
print(f'The square root of {num} is {num**(0.5)}')

The square of 9 is 81
The square root of 9 is 3.0

11. WAP to find the maximum of 3 numbers using a nested conditional expression. (No loops should be used)

In [15]:
p, q, r = 1, 92, 500
m = p if (p > q and p > r) else q if (q > p and q > r) else r
m

500